<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.wulee.datepicklibrary">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity android:name=".WheelViewDialog"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle"/>
    </application>

</manifest>
